//base
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import "base/reset";

//utilidades
@import "utilidades/extend";
@import "utilidades/mixin";
@import "utilidades/variables";
@import "utilidades/media-query";
//componentes
@import "components/header";
@import "components/footer";
//pages
@import "pages/acerca-del-cafe";
@import "pages/contacto";
@import "pages/index";
@import "pages/nosotros";
@import "pages/tipos-de-cafe";


main{

    padding:15px;
    background-color: $-color-background;
    h2{
        @extend %text-center;
        font-weight: bolder;
        text-decoration: underline;
    }
    
    h4{
        @extend %text-center;
        text-shadow: 2px 6px 4px rgba(195, 143, 12, 0.5);
    }
    h5{
        @extend %text-center;
        text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    }
    span{
        color:$-color-secundario;
        font-weight: bold;
    }
    a{
        color:$-color-icon;
    }
    @include respond-to-tablet{
        
    }
}
