//importo variables
@import "variables";
@import"_media-query.scss";
%text-center{
    text-align: center;
    font-family:$-font-primario;
    font-weight: bold;
}


%border-dashed {
    border: 1px dashed $-color-secundario;
  }

%input-contact{
    background-color:$-color-background;
    border-bottom: 1px, dotted black;
}