//importo variables
@import "../utilidades/variables";

%text-center{
    text-align: center;
    font-family:$-font-primario;
}


%border-dashed {
    border: 1px dashed $-color-secundario;
  }

%input-contact{
    background-color:$-color-background;
    border-bottom: 1px, dotted black;
}