$breakpoint-mobile: 768px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;



@mixin respond-to-mobile {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin respond-to-tablet {
    @media (min-width: $breakpoint-tablet) {
      @content;
    }
  }

@mixin respond-to-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}  

main{
  font-size: 18px; // Base para móviles

  @include respond-to-tablet {
    font-size: 20px; // Ajuste para tabletas
  }

  @include respond-to-desktop {
    font-size: 20px; // Ajuste para escritorios
  }
}
