@import "../utilidades/variables";

@mixin size-img($width:100%,$height:auto){
    width:$width ;
    height:$height;
}
@mixin border-radius($radius: 10px) {
    border-radius: $radius;
  }
@mixin hover-effect($hover-color) {
    &:hover {
      color: $hover-color;
    }
}