
//variables colores
$-color-primario:#AF9074;
$-color-background:#DBC4A1;
$-color-span:#826E55;
$-color-icon:#55432F;
$-color-secundario:#281709;

//variables tipografia
$-font-primario:"Nothing You Could Do", cursive;
