@import "../utilidades/variables";
.main-contact{
    @include respond-to-tablet{
        height:1300px;
    }
    .main-contactme{
        display:flex;
        justify-content: center;

        form{
            border-left:4px solid $-color-secundario ;
            border-right:4px solid $-color-secundario ;
            padding:15px;
        }
    }
  
    .contactme-lab:hover{
        @extend %border-dashed;
    }
    #contactme{
        text-align: center;
    }
}