@import "../utilidades/variables";
.main-contact{
    @include respond-to-tablet{
        height:1300px;
    }
    input:hover::placeholder {
        color:$-color-secundario; /* Cambia el color aquí */
    }
    .main-contactme{
        display:flex;
        justify-content: center;

     
        form{
            border-left:4px solid $-color-secundario ;
            border-right:4px solid $-color-secundario ;
            padding:15px;

            legend{
                text-decoration: underline $-color-secundario;
                color:-$-color-secundario
            }

            input{
                width:100%;
            }
            textarea{
                width:100%;
            }
        }

    }
  
    .contactme-lab:hover{
        @extend %input-contact;
    }
    #contactme{
        text-align: center;
    }
}