
@import "../utilidades/variables";
@import "../utilidades/extend";
.nosotros{  

    h2{
        @include respond-to-mobile{
            font-size:50px;
            border-radius: 10px;
            @include border-type(1px,dashed,$-color-secundario);
            margin:10px
        }  
    }

    .nos-section-div{
        display: flex;
        justify-content: center;

        @include respond-to-mobile{
            flex-wrap: wrap;
        }

        @include respond-to-tablet{
            flex-wrap: wrap;
        }

        .nos-container-img{
            padding:10px;
            
            @include respond-to-mobile{
                margin:50px;
            }

            img{
                width: 100%;
                height: auto;
            }
        }
        .nosotros-text{
            max-width: 700px;

            @include respond-to-mobile{
                margin:20px;
            }

            p{
                @include respond-to-mobile{
                    border-radius:10px;
                    
                    color:$-color-secundario;
                }

                span{
                    @include respond-to-mobile{
                       text-decoration: underline;

                    }
                }
            }
        }
    }
    
    
    
}
.nos-equipo{
    display:flex;
    @include border-radius(12px);
    flex-wrap: wrap;
    justify-content: center;
    .nos-equipo-div{
        display: flex;
        background-color: $-color-primario;
        max-width:500px;
        height:300px;
        border-radius:10px;
        @include border-type(1px,dashed,$-color-secundario);
        margin-bottom: 10px;
        margin-left:2%;
        margin-right:2%;

        @include respond-to-mobile{
            h5{
                color:$-color-secundario;
            }
        }

        .nos-equipó-div-container-img{
            width:200px;

            img{
                width:100%;
                height: 300px;
            }
        }
        
        .nos-equipo-div-info{
            max-width:250px;
            margin:5px;


        }


    }
  
}


