.main-tdc{    
    @include respond-to-tablet{
        min-height: 1400px;
    }
    .section-tdc{
        display: flex;
        justify-content: center;
    
        .section-tdc-size{
            width: 50%;
            height:35%;

            .carrousel-background{
                background-color: rgb(233, 186, 145,0.8);
                border-radius:10px;
            }
        }

    }
    
    section{

       
        .tdc-section-procesado{
            justify-content: space-between;
            margin:0px 15px;
            

            @include respond-to-tablet{
                display: flex;
                
            }
            p{
            
                border-radius: 10px;
                background-color: $-color-primario;
                
                @include respond-to-tablet{
                    @include border-type(2px,dotted,$-color-secundario);
                    background-color: $-color-background;
                    margin-left:30px;
                }
            }
            
            div{
                display: flex;
                margin:30px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                
            }
        
        }
    }
}